# Python bytecode files
*.pyc

# Vim swap files
*.swp

# Dataset files
*.json
!commit_comments-dump.2015-01-29.labeled.json
!algorithms.json
*.bson
*.tgz
*.gz

# MPI and SSH configuration
hosts

# Models and persistent data
*.pickle
*.shelf

# Output data and plot files
*.dat
*.eps
*.pdf
!plots/*.pdf
!Presentation/img/*.pdf
!Presentation/img/*.eps
*.dot
*.svg

# LaTeX compiled files
*.aux
*.bbl
*.blg
*.dvi
*.ps
*.toc
*.nav
*.snm
*.vrb
*.out
